/*font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;*/
*{
     box-sizing: border-box;
     padding: 0%;
     margin:0%;
}

#headerContainer{
     height: 90vh;
     width:100vw;
     color: white;
     position: relative;
     background:url(./images/mobile/image-header.jpg)
     no-repeat; 
     background-size: cover;
     background-position-x:center;
     font-family: 'Fraunces', serif;
     letter-spacing: 0.5em;
     font-size: 1.5em;
     text-align: center;
}

#navContainer{ 
     display: flex;
     justify-content: space-between;
     width:90%;
     margin:0% auto 0% auto
}

#navContainer img{
  margin-top: 14%;
}
 
#titleContainer{
     margin-top: 40%;
}

#imgEgg{
     width: 100vw;
     height: 50vh;
}

#transformContainer{    
     width: 100vw;
     height: 60vh;
     text-align: center;
}

#textContainer{
     width: 90vw;
     margin: auto ;
}

.titleTxt{
     font-family: 'Fraunces', serif;
     color: hsl(212, 27%, 19%);
     font-size: 2em;
     margin: 10% 10% 4% 10%;
}

.sectionDescript{
     font-family: 'Barlow', sans-serif;
     color: hsl(213, 9%, 39%);
     font-weight: bold;
}




